<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   xxx.plist
   ccsyl_ios

   Created by daren on 17/4/27.
   Copyright (c) 2017年 刘红伟. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://ezb.cbsxf.cn/cbsxf/ewm/cbsxf_enterprise.ipa?t=2231</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.daren.cbsxf-ios-enterprise</string>
                    <key>bundle-version</key>
                    <string>1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>e支部</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
